<%= render 'layouts/header' %>
<div class="main">
	<div class="col-sm-8 comment-new">
		<%= form_with(model: [@micropost, @comment], local: true) do |f| %>
			<div class="form-group">
				<%= f.text_area :content, class: 'form-control', rows: 3 %>
			</div>
            <%= f.file_field :picture, accept: 'image/jpeg,image/png', id: 'micropost_picture' %>
			<%= f.submit 'Comment', class: 'btn btn-primary btn-block' %>
		<% end %>
	</div>
</div>
