<%= render 'layouts/header' %>
<h2 class="chat-user-name"><%= @user.name %></h2>
<div class="container">
	<div class="inner">
		<div class="user-chat">
			<table class="message table">
				<% @chats.each do |chat| %>
					<% if chat.user_id == current_user.id %>
						<tbody>
							<tr>
								<th>
									<p class="message-me" style="text-align: left;"><%= chat.message %></p>	
									<%# <span class="timestamp"><%= chat.created_at</span> %> 
								</th>
								
							</tr>
						<% else %>
							<tr>
								<th>
									<p style="text-align: right;"><%= chats.message %></p>
								</th>
							</tr>
						</tbody>
					<% end %>
				<% end %>
			</table>
		</div>
	</div>
</div>
<div class="chat-send">
	<%= form_with model: @chat, remote: true do |f| %>
		<%= f.text_area :message %>
		<%= f.hidden_field :room_id %>
		<label>
			<%= f.file_field :picture, accept: 'image/jpeg,image/png', id: 'chat_picture' %>
			<%= image_tag'camera.png'%>
		</label>
		<%= f.submit "送信", class:"btn btn-sm btn-success chat-btn" %>
	<% end %>
</div>
<script type="text/javascript">
$(document).ready( function(){
const $scrollAuto = $('html,body');

$scrollAuto.animate({scrollTop: ($scrollAuto[0].scrollHeight + 1000)}, .001)
});

</script>