<li id="micropost-<%= micropost.id %>">
	<%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
	<span class="user"><%= link_to micropost.user.name, micropost.user %></span>
	<span class="content">
		<%= link_to micropost.content, micropost_path(micropost.id) %>
		<span>
			<%= link_to((image_tag micropost.picture.thumb400.url), micropost_path(micropost.id), class: 'micropost-picture') if micropost.picture.url.present? %>
		</span>
	</span>
	<div class="_micropost_html_footer">
		<div class="_micropost_html_favorite">
			<% @micropost = micropost %>
			<div><%= render 'users/favorite_form' %></div>
		</div>
		<span class="timestamp">
			<div><%= time_ago_in_words(micropost.created_at) %> 前に投稿</div>
		</span>
	</div>
</li>
